<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mclerrani.ikaizen">

    <uses-permission android:name="android.permission.CAMERA" />
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".KaizenDetailsActivity"
            android:label="@string/title_activity_kaizen_details"
            android:parentActivityName=".KaizenListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="KaizenListActivity" />
        </activity>

        <activity
            android:name=".KaizenEditActivity"
            android:label="@string/title_activity_kaizen_edit"
            android:parentActivityName=".KaizenDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="KaizenDetailsActivity" />
        </activity>

        <activity
            android:name=".KaizenListActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ImageViewerActivity"
            android:label="@string/title_activity_image_viewer"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".KaizenRecyclerActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- launch activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
